<section class="container  navbar-light bg-light">
  <section class="row text3">
      <section class="">
          <h2>Webapp de productos con Angular</h2>
      </section>
      <section class="">
          <p class="parrafo">Gestiona tus productos con la aplicacion web SPA creada con angular</p>
          <button type="button" class="btn btn-primary m-2">Ver Productos</button>
          <button type="button" class="btn btn-success">Añadir Productos</button>
      </section>
  </section>
</section>
